.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    background-color: #9e9e9e;
    border-style: solid;
    border-radius: 1vw;
    border-color: #000a12;
}

.titulo {
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em #000a12;
}

.organsList {
    width: 45vw;
    height: 30vh;
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin: 1vw;
    border-style: solid;
    border-radius: 1vw;
    border-color: #000a12;
    background-color: #000a12;
}

.image {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-color: #000a12;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-radius: 1vw;
    background-color: rgb(247, 241, 250);
    border-radius: 50%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 1vw;
    animation-name: continue;
    animation-duration: 2s;
    animation-delay: -3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

#img:hover {
    background-color: #cfcfcf;
    width: 100%;
    height: 100%;
    animation-duration: 0s;
}

@keyframes continue {
    0% {
        width: 96%;
        height: 96%;
    }
    15% {
        width: 99%;
        height: 99%;
    }
    30% {
        width: 98%;
        height: 98%;
    }
    45% {
        width: 97%;
        height: 97%;
    }
    60% {
        width: 98%;
        height: 98%;
    }
    75% {
        width: 99%;
        height: 99%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

.list {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: #000a12;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 1vw;
    background-color: white;
}

.list:hover {
    background-color: rgb(247, 241, 250);
}